.paper {
    width: 900px;
    margin: 0 auto;
}

.block1 {
    width: 60%;
    float: left;
    margin-right: 10px;
}

.block1 > img {
    float: right;
    height: 315px;
}

/*.block2 {*/
/*    width: 60%;*/
/*    float: right;*/
/*    margin-right: 10px;*/
/*}*/

.block2 > img {
    float: right;
    height: 315px;
}

body {
    margin: 0px;
}

.logo {
    margin-right: 10px;
    color: black;
    margin-left: 10px;
    font-family: 'Orbitron', sans-serif;
}

.header {
    margin-bottom: 7px;
    font-family: "Arial Black";
    color: white;
    border: azure;
    display: flex;
    font-size: 25px;
}

.headerText {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: red;
}

.description1 {
    font-weight: 900;
    font-style: italic;
}

.description2 {
    font-size: 14px;
    font-family: Bahnschrift;
    font-weight: 100;
}

.description3 {
    columns: 2 15px;
    font-size: 14px;
    font-family: Bahnschrift;
    font-weight: 100;
}
P::first-letter {
    color: white;
    background-color: red;
    font-size: 100px;
    font-weight: 900;
}

.paperRight {
    float: right;
}

.bold-text {
    font-family: "Arial Black";
    color: red;
    font-weight: 100;
    text-shadow: 4px 6px 2px black;
    font-size: 138px;
    line-height: 70%;
    float: left;
    margin-right: 20px;
}

img {
    border-color: red;
    border-radius: 30px;
}
.my-frame {
    outline: 2px solid #000;
    border: 4px solid #fff;
}
