body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inputBlock {
  /*display: flex;*/
  /*justify-content: center;*/
  /*padding-top: 15px;*/
  /*height: 50px;*/
}

.block {
  display: flex;

  justify-content: center;
  padding-top: 30px;
  height: 50px;
  padding-bottom: 20px;
}
